
.numbers{
  font-size: 500%;
  margin-block-end: 0em;
  margin-block-start: 0em;
  display: flex;
  color: black
}

.time-l{
  display: flex;
  justify-content: space-around;
  max-width: 15%;
  color: gray;
} 

.butt button{
  width: 7rem;
  margin-left: 1rem
}